@import '../../Styles/reset.scss';

.SignIn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f6f7;
  header {
    position: relative;
    width: 768px;
    height: 203px;
    margin: 0 auto;
    padding: 106px 0 53px;

    select {
      position: absolute;
      top: 20px;
      right: 10px;
      width: 95px;
      height: 30px;
      padding: 4px 10px 6px 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      background-color: #f5f6f7;
      cursor: pointer;
    }
    .LoginTextBox {
      display: flex;
      justify-content: center;
      width: 768;
      height: 44px;

      .LoginText {
        width: 231px;
        height: 44px;
        font-size: 44px;
        font-weight: bolder;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .contaienr {
    position: relative;
    width: 768px;
    height: auto;
    padding: 0px 150px;
    margin: 0 auto;

    .inputId {
      width: 460px;
      height: 48px;
      margin-bottom: 8px;
      padding: 11px 35px 10px 11px;
      font-size: 15px;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .warningInputId {
      font-size: 13px;
      line-height: 18px;
      margin: -1px 0 8px 0px;
      color: red;
    }

    .inputPw {
      width: 460px;
      height: 48px;
      margin-bottom: 8px;
      padding: 11px 35px 10px 11px;
      font-size: 15px;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .warningInputPw {
      font-size: 13px;
      line-height: 18px;
      margin: -1px 0 8px 0px;
      color: red;
    }

    .hidden {
      display: none;
    }

    .loginBtn {
      width: 460px;
      height: 56px;
      border: 1px solid aquamarine;
      background-color: mediumaquamarine;
      color: white;
      font-size: 15px;
      font-weight: bolder;
      cursor: pointer;
    }

    .findInfo {
      display: flex;
      justify-content: center;
      width: 460px;
      height: 31px;
      padding-top: 18px;

      p {
        font-size: 14px;
        color: #8e8e8e;
        cursor: pointer;
      }
      span {
        margin-left: 5px;
        margin-right: 5px;
        color: #e4e4e5;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
